body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

.cart-content {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.cart-items, .form-container {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, 
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group select {
    appearance: none; /* Убирает стандартные стили для select в некоторых браузерах */
    padding-right: 40px; /* Добавляет місце для стрілки */
    background-image: url('../images/arrow.svg'); /* Додає замість стрілки свою */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.form-button {
    text-align: center;
}

.form-button button {
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.clear-cart {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.clear-cart:hover {
    background-color: #d04133;
}